.hzh-active1 {
    background-color: rgb(42, 165, 114);
}

.hzh-active2 {
    background-color: rgb(223, 163, 53);
}

.hzh-active3 {
    background-color: rgb(14, 241, 63);
}

.hzh-active4 {
    background-color: rgb(207, 37, 199);
}

.hzh-active5 {
    background-color: rgb(156, 207, 37);
}